
body {
    margin: 0;
}

.bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background-position: center center;
}

.bg img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    opacity: 0;
}

.bg img.show {
    opacity: 1;
}

.mask {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.player {
    font-family: 微软雅黑;
    width: 300px;
    height: 154px;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 20px;
    bottom: 20px;
    background-size: 100% 100%;
    background-position: center center;
    overflow: hidden;
}

.player .logo {
    position: relative;
    width: 100%;
    height: 100%;
}

.player .logo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: margin-top 1s;
    -moz-transition: margin-top 1s;
    -webkit-transition: margin-top 1s;
    -o-transition: margin-top 1s;
    margin-top: 100%;
    display: block;
}

.player .logo img.show {
    margin-top: 0px;
}

.player .control {
    position: absolute;
    top: 38%;
    left: 10px;
    font-size: 55px;
    color: #fff;
    text-shadow: 0px 0px 1px rgb(0, 0, 0);
}

.player .control:hover {
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.player .next {
    position: absolute;
    top: 55%;
    left: 65px;
    font-size: 35px;
    color: #fff;
    text-shadow: 0px 0px 1px rgb(0, 0, 0);
}

.player .next:hover {
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.player .name {
    position: absolute;
    bottom: 12px;
    left: 5px;
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
    white-space: nowrap;
    color: #fff;
    cursor: default;
}

.player .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(80, 168, 255, 0.6);
    height: 7px;
    width: 100%;
    cursor: pointer;
}

.player .progress .now {
    transition: width 0.3s;
    -moz-transition: width 0.3s;
    -webkit-transition: width 0.3s;
    -o-transition: width 0.3s;
    background-color: rgba(255, 255, 255, 0.8);
    height: 7px;
    width: 0px;
}

.player .time {
    color: #fff;
    font-size: 28px;
    position: absolute;
    top: 50%;
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
    cursor: default;
    right: 20px;
}

.start {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9;
    text-align: center;
    color: #fff;
    font-size: 50px;
    cursor: pointer;
    padding-top: 20%;
}