<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>后台管理系统 - layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black"> 
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  
  <link rel="stylesheet" href="/static/css/layui.css?t=1512984638033"  media="all">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">layui 后台布局</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="">控制台</a></li>
      <!--<li class="layui-nav-item"><a href="">商品管理</a></li>-->
      <!--<li class="layui-nav-item"><a href="">用户</a></li>-->
      <!--<li class="layui-nav-item">-->
        <!--<a href="javascript:;">其它系统</a>-->
        <!--<dl class="layui-nav-child">-->
          <!--<dd><a href="">邮件管理</a></dd>-->
          <!--<dd><a href="">消息管理</a></dd>-->
          <!--<dd><a href="">授权管理</a></dd>-->
        <!--</dl>-->
      <!--</li>-->
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          xiaoC
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="">退了</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed js-content-list">
          <a class="" href="javascript:;">数据管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;" data-url="/static/jina/news.html?type=lives">动漫数据</a></dd>
            <dd><a href="javascript:;" data-url="/static/jina/news.html?type=weibo">音乐数据</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div id="body" style="padding: 15px;">
     </div>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
  </div>
</div>
<script src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" charset="utf-8"></script>
<script src="/static/layui.js?t=1512984638033" charset="utf-8"></script>
<script>
//JavaScript代码区域
layui.use(['element', 'form'], function(){
  var element = layui.element;
  form = layui.form;
});
</script>
<script>
    $('.js-content-list a').each(function(){
       $(this).unbind().click(function(){
           var url = $(this).data('url');
           console.log(url);
           history.pushState(null,null,'/jina?url=' + url.replace('?', '&'));
           $('#body').load(url + '&t=' + getRangeNum());
       });
    });
    
    function getRangeNum() {
//        return new Date().getSeconds()
        return Math.random();
    }
</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_30088308'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/c.php%3Fid%3D30088308' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>
